<h1 style="position: relative; top: 10%; text-align: center; font-size: 200%;"><%= current_user.first_name %> <%= current_user.last_name%></h1>
<div style="position: relative; top: 20%; text-align: center; font-size: 200%;">
<a href="/admin/users">Click here to view/delete users</a><br>
<a href="/admin/signings">Click here to enter free agent signings</a><br>
<a href="/standings">Click here to view current standings</a><br>
<a href='/logout'>Logout</a>
</div>