<h2><%= current_user.first_name %> <%= current_user.last_name%></h2>

<a href="/admin/users">Click here to view/delete users</a><br>
<a href="/admin/signings">Click here to enter free agent signings</a><br>
<a href="/standings">Click here to current standings</a><br>
<a href='/logout'>Logout</a>
