<h2><%= @user.first_name %> <%= @user.last_name%></h2>

<a href="/admin/user">Click here to view/delete users</a><br>
<a href="/admin/signings">Click here to enter free agent signings</a><br>
<a href='/logout'>Logout</a>
