<h1>User List</h1>
<form action="/admin/users" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <% users = User.select { |user| user.id > 1 } %>
    <% users.each do |user| %>
        <input type="hidden" name="user_id" value="<%= user.id %>" />
        <%= user.user_name %>
        <input type="submit" value="Delete"><br>
    <% end %>
</form>
<a href="/users/<%=@user.user_name%>">Return to Admin page</a>