<% if !@failure_message.empty? %>
    <div id="fail" style="border: 2px solid green;">
        <%= @failure_message %>
    </div>
<% end %>
<h1>Create your account</h1>
<form action="/signup" method="post">
    <label>First Name</label>
    <input type="text" name="first_name"><br>
    <label>Last Name</label>
    <input type="text" name="last_name"><br>
    <label>Login name</label>
    <input type="text" name="user_name"><br>
    <label>Password</label>
    <input type="password" name="password"></br>
    <input type="submit" name="Create Account">
</form>
