<h1>Login to your account</h1>
<form action="/login" method="post">
    <label>Login name</label>
    <input type="text" name="user_name"><br>
    <label>Password</label>
    <input type="password" name="password"></br>
    <input type="submit" value="Login">
</form>
<br><br>
<a href="/">Go back to home page</a>