<h1 style="text-align: center">Login to your account</h1><br><br>
<form style="text-align: center; font-size: 140%;" action="/login" method="post">
    <label>Login name</label>
    <input type="text" name="user_name"><br>
    <label>Password</label>
    <input type="password" name="password"></br>
    <input type="submit" value="Login">
</form>
<br><br>
