<div style="position: relative; top: 20%; text-align: center; font-weight: bold; font-size: 150%;">
The purpose of this site is to provide a platform for multiple users to predict the MLB Free Agent signings.
<p>Each user will create an account and make predictions about which teams and the contract terms for each of the top 50 baseball free agents. They can enter or modify their predictions as soon as they login and reach their home page.</p>

<p> The Administrator is responsible for entering in the signing dates and terms for each player. If a user attempts to enter in a prediction after
the Administrator has entered in the terms for a player, that prediction is disallowed. The administrator will enter in a date and time for each
signing so that users cannot rush onto the website and make a prediction after a signing has been announced but before the administrator has had a
chance to enter the signing into the web page.</p>

<p>Scoring works as follows:</p>
<p>For each player</p>
<ol>
  <li>20 points awarded for selecting the correct team.</li>
  <li>10 points awarded for selecting the correct number of years. 2 points deducted per each year difference.</li>
  <li>10 points awarded for correct average annual value. 1 point deducted for each million dolar difference.</li>
</ol>
</div>
<br><br>
