<h1>Welcome to MLB Free Agent Tracker</h1>
<h3><a href="/signup/">Click here to sign up</a></h3>
<h3><a href="/login/">Click here to login</a></h3>
<h3><a href="/about">Click here to learn about the website</a><h3>