<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <title>MLB Free Agents></title>
    </head>
    <body>
        <% if !logged_in? %>
          <p id="signup"><a href="/signup">Click here to sign up</a></p>
          <p id="login"><a href="/login">Click here to login</a></p>
        <% else %>
          <p id="learn"><nobr><a href="/about">Click here to learn about the website</a></nobr></p>
          <p id="mypage"><a href="/users/<%= current_user.user_name %>">Go to my page</a></p>
        <% end %>
        <div class="flash">
            <%= flash[:notice] %>
        </div>
        <%= yield %>
    </body>
</html>
